@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Open+Sans:wght@400;600;700&display=swap');

/* :root{
    --color-black: #1B262C;
    --color-light-blue: #BBE1FA;
    --color-blue: #3282B8;
    --color-dark-blue: #0F4C75;
    --color-white: #eee;
    --color-gray: #777;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif !important;
    background: #333 !important;
    height: 100vh;
}
/* header css */
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #111;
    padding: 3rem 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index: 99;
}

/* JS fade effect */
header.sticky{
    padding: 1.7rem 0;
    background-color: #777;
}

header.sticky a{
    color: #111;
}
/* JS fade effect end*/

/* navbar */
.nav-list{
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.nav-list li{
    list-style: none;
    display: flex;
    margin: 0 7rem;
}

.nav-list a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #eee;
    transition: color .3s;
}

.nav-list a:hover{
    color: #a79a2d;
}

@media screen and (max-width:800px) {
    header{
        padding: 3.5rem 0;
    }

    .nav-list a{
        font-size: 2rem;
    }

    header.sticky{
        padding: 2rem 0;
    }
    
    header.sticky a{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:500px){
    header{
        padding: 2.5rem 0;
    }

    .nav-list a{
        font-size: 1.6rem;
    }

    header.sticky{
        padding: 1.5rem 0;
    }
    
    header.sticky a{
        font-size: 1.2rem;
    }
}
/* navbar end */
/* header css end*/


/* section-1 */

.section-1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-heading{
    font-size: 10rem;
    font-weight: 900;
    color: #eee;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .3rem;
    text-shadow: .3rem .3rem .3rem #000;
}

.section-1-icons i{
    font-size: 30rem;
    color: #a79a2d;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    text-shadow: .2rem .2rem .2rem #000;
    transition: transform .3s;
}

.section-1-icons i.change{
    transform: translate(-50%, -50%) scale(1);
    transition: transform .3s .3s;

}


/* section-1 end */

/* section-2 */

.section-2{
    width: 100%;
    height: 100vh;
    margin-top: 15rem;
}

.gallery{
    display: flex;
    justify-content: space-evenly;
}

.gallery-link{
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link::after{
    content: "";
    position: absolute;
    width: 0;
    height: .2rem;
    background-color: #fff;
    top: 50%;
    left: 2rem;
    transition: width .5s;
    z-index: 10;
}

.gallery-link:hover::after{
    width: 80%;
}

.project-img{
    width: 30vw;
    height: 25vw;
    object-fit: cover;
    box-shadow: .2rem .2rem .1rem #000;
    transition: all .5s;
    border-radius: 5px;
}

.gallery-link:hover .project-img{
    filter: blur(.5rem);
    opacity: .5;
    transform: scale(1.1);
}

.project-name{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #eee;
    width: 0;
    overflow: hidden;
    transition: width .5s;
}

.gallery-link:hover .project-name{
    width: 100%;
    transition: width 1s .5s;
}

.project-description{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    width: 70%;
    font-size: 1.5rem;
    color: #eee;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s;
}

.gallery-link:hover .project-description{
    opacity: 1;
    visibility: visible;
    transition: opacity .5s .5s;
}

/* section-2 end */